body { font-family: Arial; background: #f4f4f4; padding:10px; }
.gallery { display:grid; grid-template-columns:repeat(auto-fill,minmax(150px,2fr)); gap:55px; }
.gallery img { margin: 30% 20% 0 40%; width:100%;  border-radius:10px 0 10px 0; transition:0.1s; }
.gallery img:hover { transform:scale(2.0); }